/* Default Tailwind CSS */
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

.footer-container {
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  box-sizing: border-box;
  display: flex;
  padding-top: 60px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  align-items: flex-end;
  text-align: center;
}